{
  "presets": [
    "node6"
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-async-functions","transform-regenerator",
    ["transform-runtime", {
    "polyfill": false,
    "regenerator": true
    }]
  ]
}